In [27]:
import pandas as pd

In [28]:
#file to load into notebook
file= "Resources/purchase_data.csv"

#store the purchase_data file into a data frame
heroes_data = pd.read_csv(file)

In [35]:
#display the total number of players creating a dataframe and a list to use for later
total_players_df = pd.DataFrame([{"Total Players":(heroes_data["SN"].nunique())}])
total_players = total_players_df.iloc[0,0]

#value
total_players

#dataframe
total_players_df

   Total Players
0            576

In [30]:
#find the number of unique items, average price, number of purchases, total revenue
purchasing_analysis = pd.DataFrame(
    [{"Number of Unique Items":heroes_data["Item Name"].nunique(),
        "Average Price": heroes_data["Price"].mean(), 
        "Number of Purchases": heroes_data["Purchase ID"].count(),
        "Total Revenue": heroes_data["Price"].sum()}])

#purchasing_analysis.info()
#use map to format my columns
purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:,.2f}".format)

purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [31]:
#provide the percentage and count of male, female, and "other" players
heroes_data_unique = heroes_data.drop_duplicates("SN")

#make a new list of gender counts based on the unique buyers
gender_demographics = heroes_data_unique["Gender"].value_counts()
gender_demographics

#create a new dataframe based on the gender demographics 
gender_demographics_df = pd.DataFrame(gender_demographics)

#rename the gender column to total count of players
gender_demographics_df.rename(columns={"Gender":"Total Count"})

#identify the number of players in the first column of the gender domgraphics table
number_players =gender_demographics_df.iloc[0:3,0]

#divide the number of players by gender to get the percentage of players
percentage_of_players = [((x/total_players)*100) for x in number_players]
percentage_of_players

#add the percentage of players to our gender demograohics datframe
gender_demographics_df["Percentage of Players"] = percentage_of_players
gender_demographics_df["Percentage of Players"] = gender_demographics_df["Percentage of Players"].map("{:.2f}%".format)

gender_demographics_df

                       Gender Percentage of Players
Male                      484                84.03%
Female                     81                14.06%
Other / Non-Disclosed      11                 1.91%

In [32]:
#group the rows by gender and begin analyzing price data
heroes_data_grouped= heroes_data.groupby(["Gender"])

#count the total number of purchases (can use any column from the original dataset to calculate with a count)
gender_count_total = heroes_data_grouped["Gender"].count()

#find the average purchase price for the grouped genders
average_purchase_price = heroes_data_grouped["Price"].mean()

#how much did each gender purchase in total?
gender_sum_price = heroes_data_grouped["Price"].sum()


#create a dataframe that includes amount of purchases, average purchase price for the purchases, the total amount 
#of the purchases, and the total purchase amount broken down by unique users see (number_players) calculation above
purchase_gender_analysis = pd.DataFrame({"Purchase Count":gender_count_total,
                                         "Average Purchase Price":average_purchase_price,
                                         "Total Purchase Value":gender_sum_price,
                                         "Total Purchase per Person":gender_sum_price/number_players})

#map the formatting for the columns we want to look nice
purchase_gender_analysis["Average Purchase Price"]=purchase_gender_analysis["Average Purchase Price"].map("${:.2f}".format)
purchase_gender_analysis["Total Purchase Value"]=purchase_gender_analysis["Total Purchase Value"].map("${:.2f}".format)
purchase_gender_analysis["Total Purchase per Person"]=purchase_gender_analysis["Total Purchase per Person"].map("${:.2f}".format)

#print the dataframe
purchase_gender_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [33]:
#Create bins for age ranges
bins=[0,9,14,19,24,29,34,39,46]

#Group lists
groups=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#create a new column on the heroes_data unique df and make the values the bins based on the age
heroes_data_unique["Age Group"] = pd.cut(heroes_data_unique["Age"], bins, labels=groups, right=True, include_lowest=True)
heroes_data_unique

#group the dataset based on the newly created Age Group column
grouped_ages = heroes_data_unique.groupby(["Age Group"])
count_of_ages = grouped_ages["SN"].count()

age_demographics= pd.DataFrame({"Total Count":count_of_ages,
                "Percentage of Players": (count_of_ages/total_players)*100})

age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{:.2f}%".format)
age_demographics

/Users/ryanngreen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [19]:
#create a new column on the heroes_data df and make the values the bins based on the age
heroes_data["Age Group"] = pd.cut(heroes_data["Age"], bins, labels=groups, right=True, include_lowest=True)
heroes_data_grouped = heroes_data.groupby("Age Group")

#create variables for dataframe
age_purchase_count=heroes_data_grouped["Purchase ID"].count()
age_avepurchase_price=heroes_data_grouped["Price"].mean()
age_totalpurchase_value=heroes_data_grouped["Price"].sum()

#create the dataframe with the variables
age_purchase_analysis = pd.DataFrame({
                        "Purchase Count":age_purchase_count,
                        "Average Purchase Price":age_avepurchase_price,
                        "Total Purchase Value":age_totalpurchase_value,
                        "Total Purchase per Person":age_totalpurchase_value/count_of_ages
                        })

#map the formatting for the columns
age_purchase_analysis["Average Purchase Price"]=age_purchase_analysis["Average Purchase Price"].map("${:.2f}".format)
age_purchase_analysis["Total Purchase Value"]=age_purchase_analysis["Total Purchase Value"].map("${:,.2f}".format)
age_purchase_analysis["Total Purchase per Person"]=age_purchase_analysis["Total Purchase per Person"].map("${:.2f}".format)

age_purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [20]:
#groupby sn find the total purchase count,  average purchase price, and total purchase value
purchasers_group= heroes_data.groupby("SN")



ind_count_purchases = purchasers_group["Price"].count()
ind_avg_purchase_value = purchasers_group["Price"].mean()
ind_sum_purchase_value = purchasers_group["Price"].sum()


#dataframe for individual purchase analysis and sort by the purchase count
top_spenders_df = pd.DataFrame({
                "Purchase Count": ind_count_purchases,
                "AVG Purchase Value": ind_avg_purchase_value,
                "Total Purchase Value": ind_sum_purchase_value
})

#pass the sorted dataframe into a new variable so we don't overwrite the original contents of the top spenders dataframe
top_spenders_sorted_df=top_spenders_df.sort_values("Total Purchase Value", ascending=False).head()

top_spenders_sorted_df["AVG Purchase Value"] = top_spenders_sorted_df["AVG Purchase Value"].map("${:.2f}".format)
top_spenders_sorted_df["Total Purchase Value"] = top_spenders_sorted_df["Total Purchase Value"].map("${:.2f}".format)

top_spenders_sorted_df.sort_values("Total Purchase Value", ascending=False).head()

             Purchase Count AVG Purchase Value Total Purchase Value
SN
Lisosia93                 5              $3.79               $18.96
Idastidru52               4              $3.86               $15.45
Chamjask73                3              $4.61               $13.83
Iral74                    4              $3.40               $13.62
Iskadarya95               3              $4.37               $13.10

In [21]:
popular_items_group = heroes_data.groupby(["Item ID","Item Name"])
item_purchase_count = popular_items_group["Price"].count()
item_price = popular_items_group["Price"].mean()
item_purchase_value =popular_items_group["Price"].sum()

popular_items_df = pd.DataFrame({
                    "Purchase Count": item_purchase_count,
                    "Item Price":item_price,
                    "Total Purchase Value": item_purchase_value
})

popular_items = popular_items_df.sort_values("Purchase Count",ascending=False).head()


popular_items.sort_values("Total Purchase Value", ascending=False)

sorted_popular_items = popular_items.sort_values("Total Purchase Value", ascending=False)

sorted_popular_items["Total Purchase Value"]=sorted_popular_items["Total Purchase Value"].map("${:.2f}".format)
sorted_popular_items["Item Price"]=sorted_popular_items["Item Price"].map("${:.2f}".format)

sorted_popular_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
132,Persuasion,9,$3.22,$28.99

In [22]:
print("There are 3 obervable trends based on the data provided.")

There are 3 obervable trends based on the data provided.

In [23]:
print("1. More males play this game, as they make up 84% of the players")

1. More males play this game, as they make up 84% of the players

In [24]:
print ("2. The majority of the players of this game (77%) range from ages 15-29.")

2. The majority of the players of this game (77%) range from ages 15-29.

In [26]:
print("3. The Final Critic and Oathbreaker, Last Hope of the Breaking Storm are our most popular items to purchase. ")

3. The Final Critic and Oathbreaker, Last Hope of the Breaking Storm are our most popular items to purchase.